   <% if alert.present? %>
    <div class="notification-container">

      <div class="notification is-danger">
        <button class="delete"></button>
        <p> <%= alert %> </p>
      </div>
    </div>
    <% end %>