<div class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="has-text-centered-mobile has-text-danger is-size-1 title">Ashu</h1>
        <p class="subtitle has-text-centered-mobile">
            Social NetWork build with RoR
        </p>
        <%= image_tag 'bkg.svg' %>
        </div>
    </div>
</div>