<% if notice.present? %>
  <div class="notification-container">

    <div class="notification is-success">
      <button class="delete"></button>
      <p> <%= notice %> </p>
    </div>
  </div>
<% end %>
 