<%= form_for(current_user, url: user_friendships_accept_path(current_user),method: :post) do |f| %>
    <%= f.hidden_field :friend_id, value: user.id %>
    <%= f.hidden_field :confirmed, value: true %>
    <button class="button is-white is-rounded is-small is-success" id="accept_friend">
        <%= fa_icon "check"%>
    </button>
<% end %> 