<section class="users-section">    
    <div class="notification is-white">
        <h1 class="title is-size-6">Frienships requests received</h1>
    </div>

    <%= received_requests(@users) %>

</section>